.main__block {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto_slab', serif;
    -webkit-box-shadow: 0px 0px 10px 6px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 10px 6px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 10px 6px rgba(34, 60, 80, 0.2);
}
.debtor__inputs {
    width: 300px;
    display: flex;
    justify-content: center;
    
}
.debtor__block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.header {
    font-size: 19px;
    font-weight: 500;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Roboto_slab', serif;
    margin-bottom: 5px;
}
.header_first {
    margin-top: 0;
}

.passport__fullWidthInput {
    align-self: normal;
}
.passportBlock {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.passport_block {
    margin-top: 10px;
}
.inputsFullWidthFlexBlock {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
}
.error {
    color: red;
    margin-top: 10px;
}
