.header {
        font-family: 'Roboto_slab', serif;
        font-size: 19px;
        font-weight: 600;
        margin-bottom: 8px;
        text-align: center;
}
.main {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.registration {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.regLink {
    width: 75%;
    text-align: center;
    text-decoration: underline;
}
.smallInputs {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}
.smallInput {
    width: 48%;
}
.input {
    width: 100%;
    margin-top: 10px;
}
