.main {
    width: 70%;
    min-width: 800px;
    max-width: 1500px;
}
.toolbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.toolbar__button {
    width: 25%;
    padding: 3px 50px;
}
.rightBox {
    width: 42%;
    display: flex;
    justify-content: space-between;
}
.cessionsToolbar {
    display: flex;
    justify-content: flex-end;
}