.block {
    margin-right: 15px;
    font-size: 18px;
    flex: 1 0 47%;
    margin-bottom: 12px;
    padding-bottom: 1px;
}
.fullBlock {
    font-size: 18px;
    width: 100%;
    margin-bottom: 12px;
}
.blockHeader {
    font-weight: 600;
    font-family: 'Roboto_slab', serif;
    font-size: 17px;
}
.blockHeader_center {
    display: flex;
    justify-content: center;
    margin-bottom: 7px;
}
.link {
    color: #343434;
    font-size: 18px;
    padding: 0 0 1px;
    cursor: pointer;
    margin: 0 5px 0 0;
}
.link:hover {
    border-bottom: 1px solid #000;
    padding-bottom: 0;
}
.paddingBox__left {
    padding-top: 20px
}
.button {
    color: #343434;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
.fullWidthWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}