.contentBox {
    padding: 20px 30px;
    border-radius: 15px;
    background-color: white;
    padding-left: 30px;
}
.firstWindow {
    position: relative;
}
.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    flex-grow: 1;
    width: 100%;
}
.header {
    font-family: 'Roboto_slab', serif;
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}