.contentBox {
    padding: 20px 30px;
    border-radius: 15px;
    background-color: #f3fef7;
    padding-left: 30px;
}
.firstWindow {
    position: relative;
    background-position: center;
    background-size: no-repeat;
    background-image: url(https://foni.club/uploads/posts/2023-01/1674396670_foni-club-p-yuridicheskii-fon-1.jpg);
}
.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    flex-grow: 1;
    width: 100%;
}
.header {
    font-family: 'Roboto_slab', serif;
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

    
