.backStart{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    flex-direction: column;
    align-items: center;
    display: flex;
    background-color: rgba(87, 87, 87, 0.5);
    flex-grow: 1;
}
.back{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    flex-direction: column;
    align-items: center;
    display: flex;
    background-color: rgba(87, 87, 87, 0.5);
    flex-grow: 1;
    animation-duration: 0.3s;
    animation-name: slowShow;
}

.contentBox {
    border-radius: 15px;
    background-color: white;
    padding: 20px 30px;
    width: 400px;
    min-height: 100px;
    margin-top: 5px;
}
.closingButton {
    display: flex;
    justify-content: right;
    position: relative;
    cursor: pointer;
}
.xmark {
    position: absolute;
    right: -19px;
    bottom: -6px;
    font-size: 19px;
}
.fixed {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.headerHolder {
    margin-top: 85px;
    font-family: 'Roboto_slab', serif;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

@keyframes slowShow {
    from {
        background-color: rgba(87, 87, 87, 0);
    }
  
    to {
        background-color: rgba(87, 87, 87, 0.5);
    }
  }