.main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 15px;
    justify-content: right;
}
.header {
    font-family: 'Roboto_slab', serif;
    margin-bottom: 5px;
    font-size: 18px;
    text-align: center;
}

.chip {
    margin-bottom: 2px;
    margin-right: 5px;
}
.chips {
    margin-left: 5px;
    margin-right: auto;
    width: 91%;
    border-bottom: 1px solid black;
}
.addChipButton {
    width: 30px;
    height: 30px;
    min-height: 20px;
    /*margin-bottom: 2px;*/
    /*margin-right: 5px;*/
    border: none;
    background-color: darkviolet;
    border-radius: 50%;
}
.addInput {
    margin-bottom: 10px;
}
.addButton {
    width: 50%;
}