.main {
    height: 100%;
    background-image: url(https://kalix.club/uploads/posts/2022-12/1671555135_kalix-club-p-oboi-bronza-krasivo-32.jpg);
    border: 8px solid #ff590036;
}
.link {
    font-family: 'Roboto-slab', serif;
    color: black;
    text-decoration: none;
    border-right: 4px solid transparent;
    transition: border-color 0.2s linear;
    font-weight: 600;
    display: block;
}
.link:hover {
    border-color: black;
}
.link_active {
    border-color: black;
} 
