.main {
    width: 70%;
    min-width: 1000px;
    max-width: 2000px;
}
.addIcon {
    margin-right: 8px;
    width: 15px;
    font-size: 6px;
    height: 18px;
}
.toolbar {
    display: flex;
    justify-content: right;
}
.smallInputsHolder {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    width: 100%;
}
.typeHolder {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    width: 100%;
}
.type {
    width:75%;
}
.blockHeader {
    font-family: 'Roboto_slab', serif;
    font-size: 19px;
    text-align: center;
    margin-bottom: 5px;
}
.addBankModal {
    width: 350px;
    height: auto;
}
.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}