.main {
    display: grid;
    background-color: #ddd;;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 46% 46%;
    overflow: hidden;
    /* gap: 20px; */
    row-gap: 40px;
    background-image: url(https://foni.club/uploads/posts/2023-01/1674396670_foni-club-p-yuridicheskii-fon-1.jpg);
}
.refference {
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    margin-left: 15px;
}
.element {
    box-shadow: 2px 2px 8px 0px rgb(34 60 80 / 20%);
    margin: 10px 12px;
    height: 100%;
    border-radius: 15px;
    padding-bottom: 20px;
    background-color: #f3fef7;
}
.relativeContainer {
    position: relative;
    height: 95%;
}
.downloadIcon {
    width: 25px;
    height: 28px;
}
.paginationContainer {
    position: absolute;
    bottom: 0;
    background-color: #f3fef7;;
    width: 100%;
    margin-bottom: 20px;
}
.content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    max-height: 80%;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: auto;
}
.flexWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 28px;
    box-sizing: border-box;
    justify-content: space-between;
}

/*.tableContainer {*/
/*    display: inline-block;*/
/*    overflow-x: hidden;*/
/*    overflow-y: auto;*/
/*}*/

.tablePaginationBlock {
    height: 63px;
}
