.toolbar {
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    justify-content: flex-end;
}
.icon {
    border: 0;
    border-radius: 50px;
    margin-left: 6px;
    cursor: pointer;
    padding: 2px 4px;
    transition: color 0.1s;
}
.icon:active {
    color: white;
    background-color: black;
}
